@font-face {
  font-family: 'Akkurat-Mono';
  src: url('Akkurat-Mono.eot'); /* IE9 Compat Modes */
  src: url('Akkurat-Mono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Akkurat-Mono.woff2') format('woff2'), /* Super Modern Browsers */
       url('Akkurat-Mono.woff') format('woff'), /* Pretty Modern Browsers */
       url('Akkurat-Mono.ttf')  format('truetype'), /* Safari, Android, iOS */
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
font-family: 'Akkurat-Mono';
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body {background: #F5F5F5; font-family: Akkurat-Mono, helvetica, arial, sans-serif; font-size: 16px; color: #222;}

.clear {clear: both;}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

#cv {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid #131FFF;
	background: #ededed;
}

#name h1 {
	font-size: 2.75em;
	font-weight: 700;
	font-family: Baskerville, Helvetica, Arial, sans-serif;
	font-style: bold;
	margin-bottom: -6px;
	color: #131FFF;
}

#name h2 {
	font-size: 1.6em;
	margin-left: 2px;
	font-family: Akkurat-Mono, Helvetica, Arial, sans-serif;
	color: #131FFF;
}

#mainArea {
	padding: 0 40px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
	display: none;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #444;
}

#contactDetails ul li a, a[href^=tel] {
	color: #444; 
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover { 
	color: #131FFF;
}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 20%;
	width: 10%;
}

.sectionContent {
	float: right;
	width: 72.5%;
	width: 80%;
}

.sectionTitle h1 {
	font-family:  Baskerville, Helvetica, Arial, sans-serif;
/*	font-weight: bold;
*/	font-size: 1.6em;
	color: #131FFF;
}

.sectionContent h2 {
	font-family: Akkurat-mono, Helvetica, Arial, sans-serif;
	/*font-size: 1.25em;*/
	font-size: 1.15em;
	margin-bottom: -2px;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.keySkills ul li {
	margin-bottom: 3px;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.exhibitions {
	list-style-type: none;
	margin-top: 5px;
}

.exhibitions ul li {
	margin-bottom: 3px;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		display: none;
	}
	
	.keySkills {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	}
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	
	#headshot {
		display: none;
	}
	
	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}
	
	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}
	
	.keySkills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}
	
	section {
		padding: 15px 0 0;
	}
	
	#mainArea {
		padding: 0 25px;
	}

	
	.keySkills {
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	}
	
	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}

@media print {
    #cv {
        width: 100%;
    }
}

